@model Alumno
<h1>Esto es eduardo la vista!!!</h1>

<label>@Model.Nombre</label>

<label>@Model.Apellido</label>

<label>@Model.Id</label>

<table class="table table-dark">
    <tr><td>@Model.Nombre</td></tr>
    <tr><td>@Model.Nombre</td></tr>
    <tr><td>@Model.Nombre</td></tr>
    <tr><td>@Model.Nombre</td></tr>
    <tr><td>@Model.Nombre</td></tr>

    <tr><td>@Model.Apellido</td></tr>
    <tr><td>@Model.Apellido</td></tr>
    <tr><td>@Model.Apellido</td></tr>
    <tr><td>@Model.Apellido</td></tr>
    <tr><td>@Model.Apellido</td></tr>

</table>